
body {
    font-family: ;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:blanchedalmond;
}

h1 {
    padding: 15px 0;
    font-size: 25px;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    background-color: blanchedalmond;
}

.menu-container img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    cursor: pointer;
    display: flex;
}

#ramen-detail {
    margin: 20px auto;
    padding: 20px;
    background-color:blanchedalmond;
    
}

#new-ramen{
    text-align: ;
}