
body{
    background-color: bisque;
    size: 500px;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
img{
    size: 200px;
    width: 200px;
    height: 200px;
}

h1 {
    background-color:white;
    color:black;
    padding: 15px 0;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}


#main , input {
    margin: 0;
    display: flex;
    padding: 0;
    border-radius:5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ramen-detail{
    justify-content: center;
    display: flex;
}